// color
color-bg = #eee
color-font = #333

// media

// font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif
font-size = 100%
line-height = 1.5

// image

// comment