<div class="nav-left" id="left_nav">
    <a href="/">
        <img class="avatar" src="/img/yukino-60.png" alt="avatar"/>
    </a>
    <ul>
        <li><a class="active" href="">技术</a></li>
        <li><a href="">工具</a></li>
        <li><a href="">资源</a></li>
        <li><a href="">生活</a></li>
        <li><a href="">标签</a></li>
        <li><a href="">归档</a></li>
    </ul>
</div>